
body {
    background-color: #181717;
    color: white;
    font-family:monospace;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    list-style-type: none;
    background-color: #F47832;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#mainGallery {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

#banner {
    width: 100%;
    filter: brightness(0.7);
    position: absolute;
    z-index: -1;
}

#coverImage {
    width:80%;
    border-radius: 10px;
}

#leftColumn{
    flex-basis: 30%;
}

#rightColumn{
    padding-top: 15%;
    flex-basis: 70%;
}

.dataContainer{
    margin: auto;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.tile {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    width: 20%;
    position: relative;
}

.tile img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 230/325;
}

.tile h2 {
    margin-top: 5%;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.tile img:hover {
    filter: brightness(0.7);
}