
body {
    background-color: #181717;
    color: white;
    font-family:monospace;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    list-style-type: none;
    background-color: #F47832;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#mainGallery {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.tile {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    width: 20%;
    position: relative;
}

.tile img {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
}

.tile h2 {
    margin-top: 5%;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.tile img:hover {
    filter: brightness(0.7);
}