body {
    background-color: #181717;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#banner {
    min-width: 100%;
    filter: brightness(0.7);
    position: absolute;
    z-index: -1;
    max-height: 220px;
}

#coverImage {
    width: 80%;
    border-radius: 5px;
}

.dataContainer {
    margin: auto;
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 10%;
    display: flex;
}

#leftColumn {
    flex-basis: 30%;
}

#rightColumn {
    padding-top: 15%;
    flex-basis: 70%;
}

#loading {
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
}

.like {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding-top: 5px;
    background-color: rgb(204, 0, 0);
    align-items: center;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    margin-top: 10%;
}

/*
Below is watch status
*/


/*
Below is genre tags
*/
#genres {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 80%;
}

#genres h1 {
    font-size: 20px;
    width: 100%;
    padding-bottom: 2%;
}

.genresLabel {
    height: 45px;
    background-color: seagreen;
    align-content: center;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    font-size: 17px;
    margin-right: 10px;
}

/*
Below is dropdown settings
*/
.dropbtn {
    height: 50px;
    background-color: rgb(61, 134, 170);
    border-radius: 7px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    min-width: 130px;
    width: 100%;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2573a7;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    text-transform: capitalize;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffd829;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: rgb(252, 185, 1);
}