body {
    background-color: #171717;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    font-size: 29px;
    margin-left: 2%;
}

#logoText {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
    color: white;
    user-select: none;
}

#logoText:hover {
    color: #d6d6d6;
}

#navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 30px 20px;
    border-radius: 0;
    overflow: hidden;
    background-color: #171717;
}

#navbar li {
    float: left;
}

#manageList {
    float: right !important;
    padding: 0 6px 0 6px;
    margin-right: 1.5%;
}

#manageList a {
    text-decoration: none;
    font-size: 29px;
}

#manageList:hover {
    background-color: #525252;
}

.searchBar {
    margin-top: 5px;
    margin-left: 7%;
}

#searchInput {
    padding: 6px 6px 6px 14px;
    font-size: 17px;
    border: none;
    color: black;
    border-radius: 20px 0 0 20px;
    background-color: #fffcf1;
    width: 20vw;
}

#searchButton {
    float: right;
    padding: 6px 15px 6px 10px;
    margin-right: 16px;
    background: rgb(212, 216, 226);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    color: #525252;
}

#mainGallery {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 1%;
}

.listContainer {
    width: 100%;
}

.listContainer h1 {
    text-transform: capitalize;
    margin-left: 1.5%;
}

.tile {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    width: 20%;
    position: relative;
}

.tile img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 230/325;
}

.tile h2 {
    margin-top: 5%;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    /* Don't forget this one */
    text-overflow: ellipsis;
}

.tile img:hover {
    filter: brightness(0.7);
}