body {
    background-color: #181717;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.searchBar{
    padding: 10px 20px 10px 20px;
}

label{
    font-size: 20px;
    margin-left: 12px;
    margin-right: 10px;
}

#noResults{
    margin: auto;
}

#searchInput {
    padding: 6px 6px 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    color: black;
    border-radius: 2px;
    width: 300px;
}

#searchButton {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #525252;
    border-radius: 2px;
}

.mediaFilter{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    color: black;
    border-radius: 2px;
}

#searchResults {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 5%;
}

.tile {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    width: 20%;
    position: relative;
}

.tile img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 230/325;
}

.tile h2 {
    margin-top: 5%;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    /* Don't forget this one */
    text-overflow: ellipsis;
}

.tile img:hover {
    filter: brightness(0.7);
}